# 🌐 API CONFIGURATION
# URL utama API Gateway
VITE_API_URL=http://localhost:3000/

# 🔐 SECURITY CONFIGURATION
# Kunci untuk enkripsi data di LocalStorage (secure-ls)
VITE_STORAGE_SECRET=
VITE_THEME_STORAGE_KEY=ss-travel-theme

# 🚀 APP CONFIGURATION
VITE_APP_NAME="SS TRAVEL"
